<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
		<form th:object="${userPointKeyForm}" method="get">
			<input type="hidden" th:field="*{userName}"/>
	        <button type="submit" th:formaction="@{/menu}">戻る</button>
	    </form>
		<form th:object="${userPointKeyForm}" method="post" id="useOkForm" >
			<input type="hidden" th:field="*{userName}"/>
			<input type="hidden" th:field="*{currentPoint}"/>
			
	        <button type="submit" th:formaction="@{/update}" id="useOkButton">OK</button>
	        <p th:text="${userPointKeyForm.message}" class="message"></p>
	        <table>
	            <tr>
	                <td>
	                    <input type="radio" name="selectedRadioData" value="-30,sushi">おすし：30ポイント
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <input type="radio" name="selectedRadioData" value="-15,starbacksDrink">スタバのフラペチーノ：15ポイント
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <input type="radio" name="selectedRadioData" value="-15,mossShake">モスシェイク：15ポイント
	                </td>
	            </tr>
	        </table>
        </form>
        
        <script src="childcareUseWindow.js"></script>
    </body>
</html>