<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
		<form th:object="${userPointKeyForm}" method="get">
			<input type="hidden" th:field="*{userName}"/>
	        <button type="submit" th:formaction="@{/menu}">戻る</button>
	    </form>
		<form th:object="${pointConfigDto}" method="post">
			<input type="hidden" th:field="*{userName}"/>
	        <input type="hidden" th:field="*{pointConfigDsplDataDtoList}" id="initDataList"/>
			
	        <button type="submit" id="masterUpdateOkButton">OK</button>
	        <button type="button" id="addButton">行追加</button>
	        <p th:text="${message}" class="message"></p>
	        <table border="1">
	            <tr>
					<th>ポイントID</th>
					<th>ポイント名</th>
			       	<th>ポイント種類</th>
			       	<th>ポイント</th>
			       	<th>表示・非表示</th>
			    </tr>
			    <tbody id="addTable">
				    <tr th:each="list,status: ${pointConfigDto.pointConfigDsplDataDtoList}" th:attr="data-added='false'">
		                <td th:text="${list.pointMasterId}"></td>
		                <td><input type="text" th:field="*{pointConfigDsplDataDtoList[__${status.index}__].pointName}"/></td>
		                <td>
							<select th:field="*{pointConfigDsplDataDtoList[__${status.index}__].useMethod}">
								<option value="1" th:selected="${list.useMethod==1}">ためる</option>
								<option value="2" th:selected="${list.useMethod==2}">つかう</option>
							</select>
						</td>
		                <td><input type="number" th:field="*{pointConfigDsplDataDtoList[__${status.index}__].point}"></td>
		                <td>
							<select th:field="*{pointConfigDsplDataDtoList[__${status.index}__].activeFlg}">
		                		<option value="1" th:selected="${list.activeFlg==1}">表示</option>
								<option value="0" th:selected="${list.activeFlg==0}">非表示</option>
							</select>
		                </td>
		            </tr>
	            </tbody>
	        </table>
        </form>
        
        <script src="childcarePointMasterConfig.js"></script>
    </body>
</html>