<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
		<form th:object="${pointListDataDto}" method="get" th:action="@{/menu}">
			<input type="hidden" th:field="*{userName}"/>
			<button type="submit">戻る</button>
		</form>
		
		<input type="hidden" th:value="${pointListDataDto.userName}" id="userName"/>
		<input type="hidden" th:value="${pointListDataDto.currentPoint}" id="currentPoint"/>
		<input type="hidden" th:value="${pointListDataDto.updateDate}" id="updateDate"/>
		<input type="hidden" th:value="${pointListDataDto.doTomorrowMoveFlg}" id="doTomorrowMoveFlg"/>
		<input type="hidden" th:value="${pointListDataDto.doDeleteListFlg}" id="doDeleteListFlg"/>
		<button id="yesterdayButton">＜</button>
		
		<input type="text" th:field="${pointListDataDto.updateDate}" id="updateDateInput" maxlength="10"/>
		
		<button id="tomorrowButton" th:style="${pointListDataDto.doTomorrowMoveFlg ? '' : 'display:none;'}">＞</button>
	    
		<table border="1">	
			<thead>
				<tr>
					<th></th>
					<th>For いっちゃん</th>
			       	<th>Point</th>
			    </tr>
		    </thead>
		    <tbody id="pointListBody">
	            <tr th:each="list: ${pointListDataDto.selectPointList}">
					<td>
						<input type="radio" name="selectedRecordId" th:value="${list.recordId}">
					</td>
	                <td th:text="${list.pointName}"></td>
	                <td th:text="${list.point}"></td>
	            </tr>
	        </tbody>
        </table>
	    
		<input type="hidden" name="selectedRecordId" id="selectedRecordId">
		<button id="deleteButton" th:style="${pointListDataDto.doDeleteListFlg ? '' : 'display:none;'}">削除</button>
        
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
        <script src="childcarePointList.js"></script>
    </body>
</html>