<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
		<form th:object="${pointListDataDto}" method="get" th:action="@{/menu}">
			<input type="hidden" th:field="*{userName}"/>
			<button type="submit">戻る</button>
		</form>
		
		<form th:object="${pointListDataDto}" method="get" th:action="@{/list/yesterday}">
			<input type="hidden" th:field="*{userName}"/>
			<input type="hidden" th:field="*{currentPoint}"/>
			<input type="hidden" th:field="*{updateDate}"/>
			<button type="submit">＜</button>
		</form>
		
		<form th:object="${pointListDataDto}" method="get" id="updateDateForm" th:action="@{/list/enter}">
			<input type="hidden" th:field="*{userName}"/>
			<input type="hidden" th:field="*{currentPoint}"/>
			<input type="text" th:field="*{updateDate}" id="updateDateInput" maxlength="10"/>
		</form>
		
		<form th:object="${pointListDataDto}" method="get" th:action="@{/list/tomorrow}">
			<input type="hidden" th:field="*{userName}"/>
			<input type="hidden" th:field="*{currentPoint}"/>
			<input type="hidden" th:field="*{updateDate}"/>
			<span th:if="${pointListDataDto.doTomorrowMoveFlg}">
				<button type="submit">＞</button>
			</span>
		</form>
	    
	    <form th:object="${pointListDataDto}" method="post">
			<table border="1">	
				<thead>
					<tr>
						<th></th>
						<th>For いっちゃん</th>
				       	<th>Point</th>
				    </tr>
			    </thead>
			    <tbody>
		            <tr th:each="list: ${pointListDataDto.selectPointList}">
						<td>
							<input type="radio" name="selectedRecordId" th:value="${list.recordId}">
						</td>
		                <td th:text="${list.pointName}"></td>
		                <td th:text="${list.point}"></td>
		            </tr>
		        </tbody>
	        </table>
	        
	        <div th:if="${pointListDataDto.doDeleteListFlg}">
				<input type="hidden" name="selectedRecordId" id="selectedRecordId">
			    <input type="hidden" name="userName" th:value="*{userName}">
				<input type="hidden" th:field="*{currentPoint}"/>
			    <input type="hidden" name="updateDate" th:value="*{updateDate}">
				<button type="submit" th:formaction="@{/delete}">削除</button>
			</div>
        </form>
        
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
        <script src="childcarePointList.js"></script>
    </body>
</html>