<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
		<form th:object="${userPointKeyForm}" method="post">
			<input type="hidden" th:field="*{userName}"/>
			<input type="hidden" th:field="*{currentPoint}"/>
			
	        <button type="submit" th:formaction="@{/update}">OK</button>
	        <button type="submit" th:formaction="@{/menu}">戻る</button>
	        <p th:text="${message}"></p>
	        <table>
	            <tr>
	                <td>
	                    <input type="radio" name="selectedRadioData" value="1,family">夫婦喧嘩せず一日を終える：1ポイント 
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <input type="radio" name="selectedRadioData" value="1,giveMother">胸のハリなし：1ポイント
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <input type="radio" name="selectedRadioData" value="1,giveMilk">ミルクを8回与える：1ポイント
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <input type="radio" name="selectedRadioData" value="7,stopCring">夜の当番：7ポイント
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <input type="radio" name="selectedRadioData" value="1,bath_2players">沐浴(2人)：1ポイント
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <input type="radio" name="selectedRadioData" value="7,bath_1player">沐浴(1人)：7ポイント
	                </td>
	            </tr>
	        </table>
        </form>
    </body>
</html>