<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
		<form th:object="${userPointKeyForm}" method="get">
			<input type="hidden" th:field="*{userName}"/>
	        <button type="submit" th:formaction="@{/menu}">戻る</button>
	    </form>
		<form th:object="${stockAndUseWindowDto}" method="post">
			<input type="hidden" th:field="*{userName}"/>
			<input type="hidden" th:value="*{point}" id="point"/>
			
	        <button type="submit" id="useOkButton">OK</button>
	        <p th:text="${message}" class="message"></p>
	        <table>
	            <tr th:each="list: ${stockAndUseWindowDto.stockAndUseWindowDsplDataList}">
	                <td>
	                    <input type="radio" name="selectedRadioData" th:value="${list.pointId}" 
	                    th:attr="data-point-id=${list.pointId}, data-point=${list.point}">
	                    <span th:text="${list.pointName + '：' + list.point + 'ポイント'}"></span> 
	                </td>
	            </tr>
	        </table>
        </form>
        
        <script src="childcareUseWindow.js"></script>
    </body>
</html>